<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Form</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <form method="post">
        <h2 class="logo">House Hunter Haven</h2>
        <h1 class="title">Apartment Listing Form</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>


